APP_NAME=FoodPass
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=foodpass_db
DB_USERNAME=root
DB_PASSWORD=

CACHE_STORE=redis
CACHE_DRIVER=redis
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
SENA_BENEFICIARIES_FILE=storage/app/private/sena/beneficiarios.csv.enc

QUEUE_CONNECTION=sync
SESSION_DRIVER=database